
@{
    ViewBag.Title = "ThemHopdong";
}

<h2>ThemHopdong</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="../Asset_Add/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="../Asset_Add/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="../Asset_Add/files/page_1/styles.css" type="text/css" rel="stylesheet" />
    <script src="../Asset_Add/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/axQuery.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/globals.js"></script>
    <script src="../Asset_Add/resources/scripts/axutils.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/annotation.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/axQuery.std.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/doc.js"></script>
    <script src="../Asset_Add/resources/scripts/messagecenter.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/events.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/recording.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/action.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/expr.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/geometry.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/flyout.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/model.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/repeater.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/sto.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/utils.temp.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/variables.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/drag.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/move.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/visibility.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/style.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/adaptive.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/tree.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/init.temp.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/legacy.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/viewer.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/math.js"></script>
    <script src="../Asset_Add/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../Asset_Add/data/document.js"></script>
    <script src="../Asset_Add/files/page_1/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '../Asset_Add/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '../Asset_Add/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '../Asset_Add/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u0" class="ax_default box_1">
            <div id="u0_div" class=""></div>
            <div id="u0_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u1" class="ax_default" data-left="1081" data-top="2513" data-width="1440" data-height="93">

            <!-- Unnamed (Rectangle) -->
            <div id="u2" class="ax_default heading_1">
                <div id="u2_div" class=""></div>
                <div id="u2_text" class="text ">
                    <p><span>PPC</span></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u3" class="ax_default image">
                <img id="u3_img" class="img " src="../Asset_Add/images/page_1/u3.png" />
                <div id="u3_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u4" class="ax_default text_field">
                <div id="u4_div" class=""></div>
                <input id="u4_input" type="text" value="Hotline : 1234567890" class="u4_input" />
            </div>

            <!-- Unnamed (Image) -->
            <div id="u5" class="ax_default image">
                <img id="u5_img" class="img " src="../Asset_Add/images/page_1/u5.png" />
                <div id="u5_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u6" class="ax_default box_1">
                <div id="u6_div" class=""></div>
                <div id="u6_text" class="text ">
                    <p><span>Hỗ trợ khách hàng :</span></p><p><span>trogiup.batdongsanppc.com.vn</span></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u7" class="ax_default image">
                <img id="u7_img" class="img " src="../Asset_Add/images/page_1/u7.png" />
                <div id="u7_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u8" class="ax_default box_1">
                <div id="u8_div" class=""></div>
                <div id="u8_text" class="text ">
                    <p><span>Chăm sóc khách hàng :</span></p><p><span>hotro@ppc.com.vn</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u9" class="ax_default" data-left="1334" data-top="1141" data-width="889" data-height="1285">

            <!-- Unnamed (Group) -->
            <div id="u10" class="ax_default" data-left="1334" data-top="1283" data-width="889" data-height="1143">

                <!-- Unnamed (Rectangle) -->
                <div id="u11" class="ax_default paragraph">
                    <div id="u11_div" class=""></div>
                    <div id="u11_text" class="text ">
                        <p><span>Họ và tên người mua</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u12" class="ax_default paragraph">
                    <div id="u12_div" class=""></div>
                    <div id="u12_text" class="text ">
                        <p><span>Sinh năm</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u13" class="ax_default paragraph">
                    <div id="u13_div" class=""></div>
                    <div id="u13_text" class="text ">
                        <p><span>CCCD/CMND</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u14" class="ax_default paragraph">
                    <div id="u14_div" class=""></div>
                    <div id="u14_text" class="text ">
                        <p><span>Địa chỉ</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u15" class="ax_default paragraph">
                    <div id="u15_div" class=""></div>
                    <div id="u15_text" class="text ">
                        <p><span>Số điện thoại</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u16" class="ax_default paragraph">
                    <div id="u16_div" class=""></div>
                    <div id="u16_text" class="text ">
                        <p><span>Mã bất động sản</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u17" class="ax_default paragraph">
                    <div id="u17_div" class=""></div>
                    <div id="u17_text" class="text ">
                        <p><span>Ngày lập hợp đồng</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18" class="ax_default paragraph">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Giá trị hợp đồng</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u19" class="ax_default paragraph">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <p><span>Số tiền đã cọc</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u20" class="ax_default paragraph">
                    <div id="u20_div" class=""></div>
                    <div id="u20_text" class="text ">
                        <p><span>Số tiền còn lại</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u21" class="ax_default paragraph">
                    <div id="u21_div" class=""></div>
                    <div id="u21_text" class="text ">
                        <p><span>Trạng thái</span><span style="color:#D9001B;">*</span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u22" class="ax_default text_field">
                    <div id="u22_div" class=""></div>
                    <input id="u22_input" type="text" value="&nbsp;" class="u22_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u23" class="ax_default text_field">
                    <div id="u23_div" class=""></div>
                    <input id="u23_input" type="text" value="" class="u23_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u24" class="ax_default text_field">
                    <div id="u24_div" class=""></div>
                    <input id="u24_input" type="text" value="" class="u24_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u25" class="ax_default text_field">
                    <div id="u25_div" class=""></div>
                    <input id="u25_input" type="text" value="" class="u25_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u26" class="ax_default text_field">
                    <div id="u26_div" class=""></div>
                    <input id="u26_input" type="text" value="" class="u26_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u27" class="ax_default text_field">
                    <div id="u27_div" class=""></div>
                    <input id="u27_input" type="text" value="" class="u27_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u28" class="ax_default text_field">
                    <div id="u28_div" class=""></div>
                    <input id="u28_input" type="text" value="" class="u28_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u29" class="ax_default text_field">
                    <div id="u29_div" class=""></div>
                    <input id="u29_input" type="text" value="" class="u29_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u30" class="ax_default text_field">
                    <div id="u30_div" class=""></div>
                    <input id="u30_input" type="text" value="" class="u30_input" />
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u31" class="ax_default text_field">
                    <div id="u31_div" class=""></div>
                    <input id="u31_input" type="text" value="" class="u31_input" />
                </div>

                <!-- Unnamed (Droplist) -->
                <div id="u32" class="ax_default droplist">
                    <div id="u32_div" class=""></div>
                    <select id="u32_input" class="u32_input">
                        <option class="u32_input_option" value="Đã thanh toán">Đã thanh toán</option>
                        <option class="u32_input_option" value="Chưa thanh toán">Chưa thanh toán</option>
                    </select>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u33" class="ax_default button">
                    <div id="u33_div" class=""></div>
                    <div id="u33_text" class="text ">
                        <p><span>CẬP NHẬT</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u34" class="ax_default box_1">
                <div id="u34_div" class=""></div>
                <div id="u34_text" class="text ">
                    <p><span>NHẬP THÔNG TIN BẤT ĐỘNG SẢN</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u35" class="ax_default" data-left="1063" data-top="940" data-width="560" data-height="84">

            <!-- Unnamed (Rectangle) -->
            <div id="u36" class="ax_default box_1">
                <div id="u36_div" class=""></div>
                <div id="u36_text" class="text ">
                    <p><span>ADD FULL CONTRACT</span></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u37" class="ax_default image">
                <img id="u37_img" class="img " src="../Asset_Add/images/page_1/u37.png" />
                <div id="u37_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u38" class="ax_default" data-left="1014" data-top="259" data-width="1524" data-height="633">

            <!-- Unnamed (Image) -->
            <div id="u39" class="ax_default image">
                <img id="u39_img" class="img " src="../Asset_Add/images/page_1/u39.png" />
                <div id="u39_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u40" class="ax_default box_1">
                <div id="u40_div" class=""></div>
                <div id="u40_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u41" class="ax_default box_1">
                <div id="u41_div" class=""></div>
                <div id="u41_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u42" class="ax_default droplist">
                <div id="u42_div" class=""></div>
                <select id="u42_input" class="u42_input">
                    <option class="u42_input_option" selected value="Loại hợp đồng">Loại hợp đồng</option>
                </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u43" class="ax_default box_1">
                <div id="u43_div" class=""></div>
                <div id="u43_text" class="text ">
                    <p><span>Add Property</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u44" class="ax_default box_1">
                <div id="u44_div" class=""></div>
                <div id="u44_text" class="text ">
                    <p><span>Add Full Contract</span></p>
                </div>
            </div>

            <!-- Unnamed (Text Field) -->
            <div id="u45" class="ax_default text_field">
                <div id="u45_div" class=""></div>
                <input id="u45_input" type="text" value="Search..." class="u45_input" />
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u46" class="ax_default droplist">
                <div id="u46_div" class=""></div>
                <select id="u46_input" class="u46_input">
                    <option class="u46_input_option" selected value="Trên toàn quốc">Trên toàn quốc</option>
                </select>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u47" class="ax_default droplist">
                <div id="u47_div" class=""></div>
                <select id="u47_input" class="u47_input">
                    <option class="u47_input_option" selected value="Mức giá">Mức giá</option>
                </select>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u48" class="ax_default droplist">
                <div id="u48_div" class=""></div>
                <select id="u48_input" class="u48_input">
                    <option class="u48_input_option" value="Trạng thái">Trạng thái</option>
                    <option class="u48_input_option" value="Chờ duyệt">Chờ duyệt</option>
                    <option class="u48_input_option" value="Đã duyệt">Đã duyệt</option>
                    <option class="u48_input_option" value="Đã huỷ">Đã huỷ</option>
                </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u49" class="ax_default primary_button">
                <div id="u49_div" class=""></div>
                <div id="u49_text" class="text ">
                    <p><span>TÌM KIẾM</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u50" class="ax_default" data-left="1045" data-top="123" data-width="1476" data-height="82">

            <!-- Unnamed (Menu) -->
            <div id="u51" class="ax_default">
                <img id="u51_menu" class="img " src="../Asset_Add/images/page_1/u51_menu.png" alt="u51_menu" />

                <!-- Unnamed (Table) -->
                <div id="u52" class="ax_default">

                    <!-- Unnamed (Menu Item) -->
                    <div id="u53" class="ax_default menu_item">
                        <img id="u53_img" class="img " src="../Asset_Add/images/page_1/u53.png" />
                        <div id="u53_text" class="text ">
                            <p><span>Nhà đất bán</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Menu Item) -->
                    <div id="u54" class="ax_default menu_item">
                        <img id="u54_img" class="img " src="../Asset_Add/images/page_1/u53.png" />
                        <div id="u54_text" class="text ">
                            <p><span>Nhà đất cho thuê</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Menu Item) -->
                    <div id="u55" class="ax_default menu_item">
                        <img id="u55_img" class="img " src="../Asset_Add/images/page_1/u55.png" />
                        <div id="u55_text" class="text ">
                            <p><span>Hợp đồng</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Menu Item) -->
                    <div id="u56" class="ax_default menu_item">
                        <img id="u56_img" class="img " src="../Asset_Add/images/page_1/u55.png" />
                        <div id="u56_text" class="text ">
                            <p><span>Danh bạ</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Menu) -->
            <div id="u57" class="ax_default">
                <img id="u57_menu" class="img " src="../Asset_Add/images/page_1/u57_menu.png" alt="u57_menu" />

                <!-- Unnamed (Table) -->
                <div id="u58" class="ax_default">

                    <!-- Unnamed (Menu Item) -->
                    <div id="u59" class="ax_default menu_item">
                        <img id="u59_img" class="img " src="../Asset_Add/images/page_1/u59.png" />
                        <div id="u59_text" class="text ">
                            <p><span>Đăng nhập</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Menu Item) -->
                    <div id="u60" class="ax_default menu_item">
                        <img id="u60_img" class="img " src="../Asset_Add/images/page_1/u59.png" />
                        <div id="u60_text" class="text ">
                            <p><span>Đăng Ký</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Menu Item) -->
                    <div id="u61" class="ax_default menu_item">
                        <img id="u61_img" class="img " src="../Asset_Add/images/page_1/u61.png" />
                        <div id="u61_text" class="text ">
                            <p><span>Đăng tin</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u62" class="ax_default heading_1">
                <div id="u62_div" class=""></div>
                <div id="u62_text" class="text ">
                    <img src="../Asset_Add/images/page_1/PPCLogo-128-128.jpg" alt="" style="width:200px;height:100px;">
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u63" class="ax_default heading_1">
            <div id="u63_div" class=""></div>
            <div id="u63_text" class="text ">
                <p><span>©Copyright by Team B4B</span></p>
            </div>
        </div>
    </div>
    <script src="../Asset_Add/resources/scripts/axure/ios.js"></script>
</body>
</html>
